.container {
    width: 30%;
}
.form-label {
    color: #002855;
  }
  
  .btn-primary {
    background-color: #002855;
    border-color: #002855;
    border-radius: 25px;
  }
  
  .btn-light {
    background-color: #f1f1f1;
    border-radius: 25px;
  }
  